@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  font-family: "Montserrat";
}

.fancybox__container * {
  transition: none !important;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  max-width: 1547px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 23px 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  transition: 0.5s ease;
}
.header.scrollable {
  background: #252728;
}
@media (max-width: 1024px) {
  .header .content {
    padding: 0;
  }
}
.header .content .row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .header .content .row {
    padding: 0 16px;
  }
}
.header .content .logo {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .header .content .logo {
    margin-right: unset;
  }
}
.header .content .burger-btn {
  display: none;
}
@media (max-width: 1024px) {
  .header .content .burger-btn {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header .content nav {
    display: none;
  }
}
.header .content nav ul {
  display: flex;
  align-items: center;
}
.header .content nav ul li a {
  padding: 0 11px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}
.header .content .buttons {
  display: flex;
  gap: 25px;
  margin-left: auto;
}
.header .content .buttons button {
  color: #FFFFFF;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: RGBA(255, 255, 255, 0);
  padding: 6px 10px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header .content .buttons button {
    display: none;
  }
}
.header .content .buttons button:hover {
  background: #FFFFFF;
  color: #000;
}
.header .content .buttons .phone {
  display: flex;
  gap: 6px;
  align-items: center;
}
.header .content .buttons .phone span {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}
.header .content .burgers {
  cursor: pointer;
}

.mobile-menu {
  padding: 100px 16px 16px;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  width: calc(100% - 80px);
  top: -600px;
  left: 40px;
  right: 40px;
  transition: 0.8s linear;
}
.mobile-menu.active {
  top: 0;
  transition: 0.8s linear;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
}
.mobile-menu ul li a {
  padding: 11px 0;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #ececec;
  display: block;
}
.mobile-menu .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-menu .buttons button {
  color: #000;
  border: 2px solid #000;
  font-size: 14px;
  font-weight: 500;
  background-color: RGBA(255, 255, 255, 0);
  padding: 6px 10px;
  cursor: pointer;
}
.mobile-menu .buttons button:hover {
  background: #000;
  color: #fff;
}
.mobile-menu .buttons .phone {
  display: flex;
  gap: 6px;
  align-items: center;
}
.mobile-menu .buttons .phone span {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

@media (max-width: 1515px) {
  .hero-block .content {
    padding: 0;
  }
}
.hero-block .content .hero-swiper {
  width: 100%;
  height: 720px;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  gap: 20px;
  padding: 100px 40px 100px;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info {
    padding: 100px 16px;
  }
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  width: 280px;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info p {
    font-size: 14px;
  }
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info h2 {
  color: #ffffff;
  font-size: 75px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: auto;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info h2 {
    font-size: 45px;
  }
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info a {
  color: #FFFFFF;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: RGBA(255, 255, 255, 0);
  padding: 14px 20px;
  cursor: pointer;
  text-align: center;
  width: 260px;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info a:hover {
  background: #FFFFFF;
  color: #000;
}
.hero-block .content .hero-swiper .hero-swiper-pagination {
  bottom: 100px;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .hero-swiper-pagination {
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
  }
}
.hero-block .content .hero-swiper .hero-swiper-pagination .swiper-pagination-bullet {
  background: #ececec;
  width: 10px;
  height: 10px;
  opacity: 0.6;
}
.hero-block .content .hero-swiper .hero-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ececec;
  opacity: 1;
}

.models-block {
  background: #f7f7f7;
  padding: 70px 0;
}
.models-block .models-swiper {
  width: 100%;
  height: 440px;
}
.models-block .models-swiper .swiper-slide .model-card {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}
.models-block .models-swiper .swiper-slide .model-card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.models-block .models-swiper .swiper-slide .model-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.models-block .models-swiper .swiper-slide .model-card .info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.models-block .models-swiper .swiper-slide .model-card .info p {
  font-weight: 600;
  text-transform: uppercase;
  color: #252728;
  line-height: 31.2px;
  margin-bottom: 8px;
  font-size: 24px;
}
.models-block .models-swiper .swiper-slide .model-card .info span {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 22px;
  margin-bottom: 32px;
}
.models-block .models-swiper .swiper-slide .model-card .info .buttons {
  display: flex;
  gap: 10px;
}
.models-block .models-swiper .swiper-slide .model-card .info .buttons a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0.05rem;
  border: 1px solid #000000;
  padding: 11px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .models-block .models-swiper .swiper-slide .model-card .info .buttons a {
    font-size: 12px;
  }
}
.models-block .models-swiper .swiper-slide .model-card .info .buttons a:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
}
.models-block .controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  justify-content: flex-end;
}
.models-block .controls .arrow {
  width: 44px;
  height: 44px;
  border-radius: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
}

.contacts-block {
  background: #f7f7f7;
  padding: 0 0 70px 0;
}
.contacts-block .content {
  display: flex;
}
@media (max-width: 1024px) {
  .contacts-block .content {
    flex-direction: column;
    gap: 30px;
  }
}
.contacts-block .content .info-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-left: 40px;
}
@media (max-width: 1024px) {
  .contacts-block .content .info-block {
    width: 100%;
    padding-left: 0;
  }
}
.contacts-block .content .info-block h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contacts-block .content .info-block .chapter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts-block .content .info-block .chapter span {
  color: #7f7f80;
  font-size: 14px;
}
.contacts-block .content .info-block .chapter p {
  color: #252728;
  font-size: 20px;
  font-weight: 600;
}
.contacts-block .content .info-block .chapter a {
  color: #252728;
  font-size: 20px;
  font-weight: 600;
}
.contacts-block .content .map {
  width: 50%;
  height: 500px;
}
@media (max-width: 1024px) {
  .contacts-block .content .map {
    width: 100%;
  }
}
.contacts-block .content .map div {
  width: 100%;
  height: 100%;
}
.contacts-block .content .map div iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.footer {
  background: #252728;
  padding: 30px 0 15px;
}
.footer .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .content .line {
  width: 100%;
  height: 1px;
  background: #ececec;
  margin: 0 40px;
}
@media (max-width: 1024px) {
  .footer .content .line {
    margin: 0;
  }
}
.footer .content .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .footer .content .row {
    padding: 0;
  }
}
@media (max-width: 870px) {
  .footer .content .row {
    flex-direction: column;
    gap: 30px;
  }
}
.footer .content .row .chapter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 200px;
}
@media (max-width: 870px) {
  .footer .content .row .chapter {
    max-width: 100%;
  }
}
.footer .content .row .chapter span {
  color: #7f7f80;
  font-size: 10px;
}
.footer .content .row .chapter p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.footer .content .row .chapter a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.footer .content .row .social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .content .copy {
  color: #7f7f80;
  font-size: 14px;
  padding-left: 40px;
}
@media (max-width: 1024px) {
  .footer .content .copy {
    padding-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
