@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .3s ease;
  font-family: "Montserrat";
}
.fancybox__container * {
  transition: none !important;
}
ul , ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.content {
  max-width: calc(1515px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  //padding: 23px 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  transition: .5s ease;
  @media (max-width: 1024px) {
    background: #252728;
    padding: 10px 0;
  }
  &.scrollable {
    background: #252728;
  }
  &.header-pages {
    background: #252728;
  }
  .content {

    @media (max-width: 1024px) {
      padding: 0;
    }
    .row {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0 40px;
      @media (max-width: 1024px) {
        padding: 0 16px;
      }
    }
    .logo {
      margin-right: 30px;
      @media (max-width: 1024px) {
        margin-right: unset;
      }
    }
    .burger-btn {
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
    nav {
      @media (max-width: 1024px) {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          a {
            padding: 30px 20px;
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0.2px;
            display: block;
          }
          &.dropdown {
            position: relative;
            &:hover {
              .submenu {
                display: flex;
              }
            }
          }
          .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 20px;
            background: #252728;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: max-content;
            z-index: 3;
            align-items: flex-start;
            border-radius: 0 0 3px 3px;
            display: none;
            a {
              padding: 0;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: 25px;
      margin-left: auto;
      a {
        color: #FFFFFF ;
        border: 2px solid #fff;
        font-size: 14px;;
        font-weight: 500 ;
        background-color: RGBA(255, 255, 255, 0);
        padding: 6px 10px;
        cursor: pointer;
        border-radius: 3px;
        @media (max-width: 1024px) {
          display: none;
        }
        &:hover {
          background: #FFFFFF;
          color: #000 ;
        }
      }
      .phone {
        display: flex;
        gap: 6px;
        align-items: center;
        border: none;
        &:hover {
          background: unset;
          color: unset;
        }
        span {
          font-size: 14px;
          font-weight: 500 ;
          color: #FFFFFF;
        }
      }
    }
    .burgers {
      cursor: pointer;
    }
  }
}
.mobile-menu {
  padding: 100px 16px 16px;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  width: calc(100% - 80px);
  top: -600px;
  left: 40px;
  right: 40px;
  transition: .8s linear;
  &.active {
    top: 0;
    transition: .8s linear;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      a {
        padding: 11px 0;
        font-weight: 600;
        font-size: 16px;
        color: #000;
        letter-spacing: 0.2px;
        border-bottom: 1px solid #ececec;
        display: block;
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      color: #000 ;
      border: 2px solid #000;
      font-size: 14px;;
      font-weight: 500 ;
      background-color: RGBA(255, 255, 255, 0);
      padding: 6px 10px;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        background: #000;
        color: #fff ;
      }
    }
    .phone {
      display: flex;
      gap: 6px;
      align-items: center;
      span {
        font-size: 14px;
        font-weight: 500 ;
        color: #000;
      }
    }
  }
}

.hero-block {
  .content {
    @media (max-width: 1515px) {
      padding: 0;
    }
    .hero-swiper {
      width: 100%;
      height: 720px;
      .swiper-slide {
        .hero-card {
          width: 100%;
          height: 100%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 1;
            gap: 20px;
            padding: 100px 40px 100px;
            @media (max-width: 1024px) {
              padding: 100px 16px;
            }
            p {
              color: #ffffff;
              font-size: 16px;
              line-height: 1.55;
              font-weight: 400;
              width: 280px;
              @media (max-width: 1024px) {
                font-size: 14px;
              }
            }
            h2 {
              color: #ffffff;
              font-size: 75px;
              line-height: 1.55;
              font-weight: 400;
              margin-top: auto;
              @media (max-width: 1024px) {
                font-size: 45px;
              }
              @media (max-width: 768px) {
                font-size: 35px;
              }
            }
            a {
              color: #FFFFFF ;
              border: 2px solid #fff;
              font-size: 14px;;
              font-weight: 500 ;
              background-color: RGBA(255, 255, 255, 0);
              padding: 14px 20px;
              cursor: pointer;
              text-align: center;
              width: 260px;
              border-radius: 3px;
              &:hover {
                background: #FFFFFF;
                color: #000 ;
              }
            }
          }
        }
      }
      .hero-swiper-pagination {
        bottom: 100px;
        @media (max-width: 1024px) {
          bottom: 50px;
          display: flex;
          justify-content: flex-start;
          padding-left: 40px;
        }
        .swiper-pagination-bullet {
          background: #ececec;
          width: 10px;
          height: 10px;
          opacity: .6;
          &.swiper-pagination-bullet-active {
            background: #ececec;
            opacity: 1;
          }
        }
      }
    }
  }
}
.models-block {
  background: #f7f7f7;
  padding: 70px 0;
  .models-swiper {
    width: 100%;
    height: 440px;
    .swiper-slide {
      .model-card {
        width: 100%;
        height: 100%;
        background: #fff;
        position: relative;
        .image {
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          padding: 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @media (max-width: 768px) {
            padding: 20px;
          }
          p {
            font-weight: 600;
            text-transform: uppercase;
            color: #252728;
            line-height: 31.2px;
            margin-bottom: 8px;
            font-size: 24px;
          }
          span {
            font-weight: 500;
            font-size: 16px;
            color: #000000;
            letter-spacing: 1px;
            line-height: 22px;
            margin-bottom: 32px;
          }
          .buttons {
            display: flex;
            gap: 10px;
            a {
              font-size: 16px;
              font-weight: 400;
              color: #000000;
              background-color: transparent;
              letter-spacing: 0.05rem;
              border: 1px solid #000000;
              padding: 11px 16px;
              text-decoration: none;
              display: inline-block;
              text-align: center;
              cursor: pointer;
              transition: all 0.3s ease;
              border-radius: 3px;
              @media (max-width: 1024px) {
                font-size: 12px;
              }
              &:hover {
                color: #FFFFFF;
                background-color: #000000;
                border: 1px solid #000000
              }
            }
          }
        }
      }
    }
  }
  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    justify-content: flex-end;
    .arrow {
      width: 44px;
      height: 44px;
      border-radius: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: #FFFFFF;
    }
  }
}
.contacts-block {
  background: #f7f7f7;
  .content {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
    }
    .info-block {
      width: calc(100% / 2);
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 70px;
      padding-left: 40px;
      @media (max-width: 1024px) {
        width: 100%;
        padding-left: 0;
      }
      h2 {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          font-size: 35px;
        }
      }
      .chapter {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          color: #7f7f80;
          font-size: 14px;
        }
        p {
          color: #252728;
          font-size: 20px;
          font-weight: 600;
        }
        a {
          color: #252728;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .map {
      width: calc(100% /  2);
      height: 500px;
      @media (max-width: 1024px) {
        width: 100%;
      }
      div {
        width: 100%;
        height: 100%;
        iframe {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: none;
        }
      }
    }
  }
}
.contact-form-block {
  padding: 120px 0 50px;
  margin-top: -50px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
    }
    h2 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        font-size: 35px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .row {
        display: flex;
        gap: 20px;
        @media (max-width: 768px) {
          flex-direction: column;
        }
        input , select {
          width: calc((100% - 20px) / 2);
          border: 1px solid rgba( 0, 0, 0, 0.25 );
          padding: 0 15px;
          height: 43px;
          border-radius: 3px;
          outline: none;
          @media (max-width: 768px) {
           width: 100%;
          }
        }
      }
      .text {
        font-size: 12px;
      }
      .checkbox-inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-size: 12px;
          font-weight: 700;
          span {
            color: red;
          }
        }
        label {
          display: flex;
          gap: 10px;
          font-size: 12px;
          color: rgba( 0, 0, 0, 0.85 );
        }
      }
      button {
        width: fit-content;
        padding: 15px 70px;
        background: black;
        color: #FFFFFF;
        border-radius: 3px;
        border: 1px solid #000;
        cursor: pointer;
        font-size: 17px;
        transition: .3s ease;

        &:hover {
          background: #FFFFFF;
          color: black;
        }
      }
    }
  }
}
.news-block {
  padding: 70px 0;
  .content {

    .news-card {
      display: flex;
      gap: 100px;
      @media (max-width: 1150px) {
        gap: 50px;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
      }
      .img {
        width: calc((100% - 100px) / 2);
        border-radius: 3px;
        @media (max-width: 1150px) {
          width: calc((100% - 50px) / 2);
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 3px;
        }
      }
      .info {
        width: calc((100% - 100px) / 2);
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 1150px) {
          width: calc((100% - 50px) / 2);
        }
        @media (max-width: 768px) {
          width: 100%;
          gap: 20px;
        }
        h2 {
          font-size: 50px;
          font-weight: 600;
          @media (max-width: 768px) {
            font-size: 35px;
          }
        }
        p {
          color: #666;
          font-size: 16px;
        }
        a {
          color: black;
          font-weight: 500;
          font-size: 16px;
          padding: 10px 20px;
          border: 1px solid #000000;
          background: transparent;
          transition: all 0.3s ease;
          border-radius: 3px;
          width: fit-content;
          &:hover {
            color: #FFFFFF;
            background: black;
          }
        }
      }
    }

  }
}
.footer {
  background: #252728;
  padding: 30px 0 15px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .line {
      width: 100%;
      height: 1px;
      background: #ececec;
      margin: 0 40px;
      @media (max-width: 1024px) {
        margin: 0;
      }
    }
    .row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
      padding: 0 40px;
      @media (max-width: 1024px) {
        padding: 0;
      }
      @media (max-width: 870px) {
        flex-direction: column;
        gap: 30px;
      }
      .chapter {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 200px;
        @media (max-width: 870px) {
          max-width: 100%;
        }
        span {
          color: #7f7f80;
          font-size: 10px;
        }
        p {
          color: #fff;
          font-size: 16px;
          font-weight: 600;
        }
        a {
          color: #fff;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .social {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .copy {
      color: #7f7f80;
      font-size: 14px;
      padding-left: 40px;
      @media (max-width: 1024px) {
        padding-left: 0;
      }
    }
  }
}

.model-page-hero {
  height: 90vh;
  background-image: url(/src/images/byd-seal-podglad-scaled.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .banner-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    .title-row {
      padding-bottom: 40px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        color: #FFFFFF;
      }
    }
    .params {
      padding: 16px 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(180deg, rgba(12, 113, 195, 0.2) 0%, rgba(12, 113, 195, 0.2) 100%), url(/src/images/byd-seal-podglad-scaled.jpg);
        background-color: rgba(255, 255, 255, 0);
        filter: blur(10px);
        z-index: 1;
      }
      .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        z-index: 2;
        .params-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          p {
            font-weight: 600;
            font-size: 40px;
            color: #FFFFFF;
            text-align: center;
            @media (max-width: 1024px) {
              font-size: 25px;
            }
          }
          span {
            font-size: 18px;
            color: #FFFFFF;
          }
        }
      }
    }
    .buttons-row {
      background: #464b4d;
      padding: 16px 0;

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
      }
      p {
        font-size: 24px;
        font-weight: 600;
        color: #FFFFFF;
      }
      span {
        font-size: 24px;
        font-weight: 500;
        color: #FFFFFF;
      }
      .links {
        display: flex;
        align-items: center;
        gap: 30px;
        a {
          font-size: 16px ;
          color: #FFFFFF ;
          letter-spacing: 1px ;
          border: 1px solid #fff;
          background-color: transparent;
          padding: 8px 20px ;
          &:hover {
            color: #000 ;
            background: #FFFFFF;
          }

        }

      }
    }
  }
}