@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(./src/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  font-family: "Montserrat";
}

.fancybox__container * {
  transition: none !important;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  max-width: 1547px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  transition: 0.5s ease;
}
@media (max-width: 1024px) {
  .header {
    background: #252728;
    padding: 10px 0;
  }
}
.header.scrollable {
  background: #252728;
}
.header.header-pages {
  background: #252728;
}
@media (max-width: 1024px) {
  .header .content {
    padding: 0;
  }
}
.header .content .row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .header .content .row {
    padding: 0 16px;
  }
}
.header .content .logo {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .header .content .logo {
    margin-right: unset;
  }
}
.header .content .burger-btn {
  display: none;
}
@media (max-width: 1024px) {
  .header .content .burger-btn {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header .content nav {
    display: none;
  }
}
.header .content nav ul {
  display: flex;
  align-items: center;
}
.header .content nav ul li a {
  padding: 30px 20px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  display: block;
}
.header .content nav ul li.dropdown {
  position: relative;
}
.header .content nav ul li.dropdown:hover .submenu {
  display: flex;
}
.header .content nav ul li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  background: #252728;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  z-index: 3;
  align-items: flex-start;
  border-radius: 0 0 3px 3px;
  display: none;
}
.header .content nav ul li .submenu a {
  padding: 0;
}
.header .content .buttons {
  display: flex;
  gap: 25px;
  margin-left: auto;
}
.header .content .buttons a {
  color: #FFFFFF;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: RGBA(255, 255, 255, 0);
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .header .content .buttons a {
    display: none;
  }
}
.header .content .buttons a:hover {
  background: #FFFFFF;
  color: #000;
}
.header .content .buttons .phone {
  display: flex;
  gap: 6px;
  align-items: center;
  border: none;
}
.header .content .buttons .phone:hover {
  background: unset;
  color: unset;
}
.header .content .buttons .phone span {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}
.header .content .burgers {
  cursor: pointer;
}

.mobile-menu {
  padding: 100px 16px 16px;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  width: calc(100% - 80px);
  top: -600px;
  left: 40px;
  right: 40px;
  transition: 0.8s linear;
}
.mobile-menu.active {
  top: 0;
  transition: 0.8s linear;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
}
.mobile-menu ul li a {
  padding: 11px 0;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #ececec;
  display: block;
}
.mobile-menu .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-menu .buttons a {
  color: #000;
  border: 2px solid #000;
  font-size: 14px;
  font-weight: 500;
  background-color: RGBA(255, 255, 255, 0);
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}
.mobile-menu .buttons a:hover {
  background: #000;
  color: #fff;
}
.mobile-menu .buttons .phone {
  display: flex;
  gap: 6px;
  align-items: center;
}
.mobile-menu .buttons .phone span {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

@media (max-width: 1515px) {
  .hero-block .content {
    padding: 0;
  }
}
.hero-block .content .hero-swiper {
  width: 100%;
  height: 720px;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  gap: 20px;
  padding: 100px 40px 100px;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info {
    padding: 100px 16px;
  }
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  width: 280px;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info p {
    font-size: 14px;
  }
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info h2 {
  color: #ffffff;
  font-size: 75px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: auto;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .hero-block .content .hero-swiper .swiper-slide .hero-card .info h2 {
    font-size: 35px;
  }
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info a {
  color: #FFFFFF;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: RGBA(255, 255, 255, 0);
  padding: 14px 20px;
  cursor: pointer;
  text-align: center;
  width: 260px;
  border-radius: 3px;
}
.hero-block .content .hero-swiper .swiper-slide .hero-card .info a:hover {
  background: #FFFFFF;
  color: #000;
}
.hero-block .content .hero-swiper .hero-swiper-pagination {
  bottom: 100px;
}
@media (max-width: 1024px) {
  .hero-block .content .hero-swiper .hero-swiper-pagination {
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
  }
}
.hero-block .content .hero-swiper .hero-swiper-pagination .swiper-pagination-bullet {
  background: #ececec;
  width: 10px;
  height: 10px;
  opacity: 0.6;
}
.hero-block .content .hero-swiper .hero-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ececec;
  opacity: 1;
}

.models-block {
  background: #f7f7f7;
  padding: 70px 0;
}
.models-block .models-swiper {
  width: 100%;
  height: 440px;
}
.models-block .models-swiper .swiper-slide .model-card {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}
.models-block .models-swiper .swiper-slide .model-card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.models-block .models-swiper .swiper-slide .model-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.models-block .models-swiper .swiper-slide .model-card .info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .models-block .models-swiper .swiper-slide .model-card .info {
    padding: 20px;
  }
}
.models-block .models-swiper .swiper-slide .model-card .info p {
  font-weight: 600;
  text-transform: uppercase;
  color: #252728;
  line-height: 31.2px;
  margin-bottom: 8px;
  font-size: 24px;
}
.models-block .models-swiper .swiper-slide .model-card .info span {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 22px;
  margin-bottom: 32px;
}
.models-block .models-swiper .swiper-slide .model-card .info .buttons {
  display: flex;
  gap: 10px;
}
.models-block .models-swiper .swiper-slide .model-card .info .buttons a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0.05rem;
  border: 1px solid #000000;
  padding: 11px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .models-block .models-swiper .swiper-slide .model-card .info .buttons a {
    font-size: 12px;
  }
}
.models-block .models-swiper .swiper-slide .model-card .info .buttons a:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
}
.models-block .controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  justify-content: flex-end;
}
.models-block .controls .arrow {
  width: 44px;
  height: 44px;
  border-radius: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
}

.contacts-block {
  background: #f7f7f7;
}
.contacts-block .content {
  display: flex;
}
@media (max-width: 1024px) {
  .contacts-block .content {
    flex-direction: column;
    gap: 30px;
  }
}
.contacts-block .content .info-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 70px;
  padding-left: 40px;
}
@media (max-width: 1024px) {
  .contacts-block .content .info-block {
    width: 100%;
    padding-left: 0;
  }
}
.contacts-block .content .info-block h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contacts-block .content .info-block h2 {
    font-size: 35px;
  }
}
.contacts-block .content .info-block .chapter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts-block .content .info-block .chapter span {
  color: #7f7f80;
  font-size: 14px;
}
.contacts-block .content .info-block .chapter p {
  color: #252728;
  font-size: 20px;
  font-weight: 600;
}
.contacts-block .content .info-block .chapter a {
  color: #252728;
  font-size: 20px;
  font-weight: 600;
}
.contacts-block .content .map {
  width: 50%;
  height: 500px;
}
@media (max-width: 1024px) {
  .contacts-block .content .map {
    width: 100%;
  }
}
.contacts-block .content .map div {
  width: 100%;
  height: 100%;
}
.contacts-block .content .map div iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.contact-form-block {
  padding: 120px 0 50px;
  margin-top: -50px;
}
.contact-form-block .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1024px) {
  .contact-form-block .content {
    flex-direction: column;
    gap: 30px;
  }
}
.contact-form-block .content h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contact-form-block .content h2 {
    font-size: 35px;
  }
}
.contact-form-block .content form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-form-block .content form .row {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .contact-form-block .content form .row {
    flex-direction: column;
  }
}
.contact-form-block .content form .row input, .contact-form-block .content form .row select {
  width: calc((100% - 20px) / 2);
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 15px;
  height: 43px;
  border-radius: 3px;
  outline: none;
}
@media (max-width: 768px) {
  .contact-form-block .content form .row input, .contact-form-block .content form .row select {
    width: 100%;
  }
}
.contact-form-block .content form .text {
  font-size: 12px;
}
.contact-form-block .content form .checkbox-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form-block .content form .checkbox-inner p {
  font-size: 12px;
  font-weight: 700;
}
.contact-form-block .content form .checkbox-inner p span {
  color: red;
}
.contact-form-block .content form .checkbox-inner label {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
}
.contact-form-block .content form button {
  width: fit-content;
  padding: 15px 70px;
  background: black;
  color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s ease;
}
.contact-form-block .content form button:hover {
  background: #FFFFFF;
  color: black;
}

.news-block {
  padding: 70px 0;
}
.news-block .content .news-card {
  display: flex;
  gap: 100px;
}
@media (max-width: 1150px) {
  .news-block .content .news-card {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .news-block .content .news-card {
    flex-direction: column;
    gap: 30px;
  }
}
.news-block .content .news-card .img {
  width: calc((100% - 100px) / 2);
  border-radius: 3px;
}
@media (max-width: 1150px) {
  .news-block .content .news-card .img {
    width: calc((100% - 50px) / 2);
  }
}
@media (max-width: 768px) {
  .news-block .content .news-card .img {
    width: 100%;
  }
}
.news-block .content .news-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.news-block .content .news-card .info {
  width: calc((100% - 100px) / 2);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1150px) {
  .news-block .content .news-card .info {
    width: calc((100% - 50px) / 2);
  }
}
@media (max-width: 768px) {
  .news-block .content .news-card .info {
    width: 100%;
    gap: 20px;
  }
}
.news-block .content .news-card .info h2 {
  font-size: 50px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .news-block .content .news-card .info h2 {
    font-size: 35px;
  }
}
.news-block .content .news-card .info p {
  color: #666;
  font-size: 16px;
}
.news-block .content .news-card .info a {
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #000000;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 3px;
  width: fit-content;
}
.news-block .content .news-card .info a:hover {
  color: #FFFFFF;
  background: black;
}

.footer {
  background: #252728;
  padding: 30px 0 15px;
}
.footer .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .content .line {
  width: 100%;
  height: 1px;
  background: #ececec;
}
@media (max-width: 1024px) {
  .footer .content .line {
    margin: 0;
  }
}
.footer .content .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .footer .content .row {
    padding: 0;
  }
}
@media (max-width: 870px) {
  .footer .content .row {
    flex-direction: column;
    gap: 30px;
  }
}
.footer .content .row .chapter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 200px;
}
@media (max-width: 870px) {
  .footer .content .row .chapter {
    max-width: 100%;
  }
}
.footer .content .row .chapter span {
  color: #7f7f80;
  font-size: 10px;
}
.footer .content .row .chapter p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.footer .content .row .chapter a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.footer .content .row .social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .content .copy {
  color: #7f7f80;
  font-size: 14px;
  padding-left: 40px;
}
@media (max-width: 1024px) {
  .footer .content .copy {
    padding-left: 0;
  }
}

.model-page-hero {
  height: 90vh;
  background-image: url(/src/images/byd-seal-podglad-scaled.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .model-page-hero {
    height: 100vh;
  }
}
.model-page-hero .banner-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.model-page-hero .banner-info .title-row {
  padding-bottom: 40px;
}
.model-page-hero .banner-info .title-row h1 {
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
}
.model-page-hero .banner-info .params {
  padding: 16px 0;
  position: relative;
}
.model-page-hero .banner-info .params::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(12, 113, 195, 0.2) 0%, rgba(12, 113, 195, 0.2) 100%), url(/src/images/byd-seal-podglad-scaled.jpg);
  background-color: rgba(255, 255, 255, 0);
  filter: blur(10px);
  z-index: 1;
}
.model-page-hero .banner-info .params .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .model-page-hero .banner-info .params .content {
    gap: 10px;
  }
}
.model-page-hero .banner-info .params .content .params-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .model-page-hero .banner-info .params .content .params-card {
    max-width: 110px;
    gap: 10px;
  }
}
.model-page-hero .banner-info .params .content .params-card p {
  font-weight: 600;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 1024px) {
  .model-page-hero .banner-info .params .content .params-card p {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .model-page-hero .banner-info .params .content .params-card p {
    font-size: 18px;
  }
}
.model-page-hero .banner-info .params .content .params-card span {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 768px) {
  .model-page-hero .banner-info .params .content .params-card span {
    font-size: 14px;
  }
}
.model-page-hero .banner-info .buttons-row {
  background: #464b4d;
  padding: 16px 0;
}
.model-page-hero .banner-info .buttons-row .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 768px) {
  .model-page-hero .banner-info .buttons-row .content {
    flex-direction: column;
  }
}
.model-page-hero .banner-info .buttons-row p {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .model-page-hero .banner-info .buttons-row p {
    font-size: 18px;
  }
}
.model-page-hero .banner-info .buttons-row span {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .model-page-hero .banner-info .buttons-row span {
    font-size: 18px;
  }
}
.model-page-hero .banner-info .buttons-row .links {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 435px) {
  .model-page-hero .banner-info .buttons-row .links {
    gap: 10px;
    width: 100%;
  }
}
.model-page-hero .banner-info .buttons-row .links a {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 8px 20px;
  text-align: center;
}
@media (max-width: 435px) {
  .model-page-hero .banner-info .buttons-row .links a {
    width: 100%;
    font-size: 12px;
    padding: 8px 10px;
  }
}
.model-page-hero .banner-info .buttons-row .links a:hover {
  color: #000;
  background: #FFFFFF;
}

.model-table {
  padding: 70px 0;
}
.model-table .content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media (max-width: 768px) {
  .model-table .content {
    gap: 50px;
  }
}
.model-table .content .model-table-card {
  width: 100%;
  display: flex;
  gap: 100px;
}
@media (max-width: 1024px) {
  .model-table .content .model-table-card {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .model-table .content .model-table-card {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .model-table .content .model-table-card:nth-child(even) {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.model-table .content .model-table-card .img {
  width: calc((100% - 100px) / 2);
  max-height: 410px;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .model-table .content .model-table-card .img {
    max-height: 300px;
    width: calc((100% - 50px) / 2);
  }
}
@media (max-width: 768px) {
  .model-table .content .model-table-card .img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .model-table .content .model-table-card .img {
    max-height: 250px;
  }
}
.model-table .content .model-table-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.model-table .content .model-table-card .info {
  width: calc((100% - 100px) / 2);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .model-table .content .model-table-card .info {
    width: calc((100% - 50px) / 2);
  }
}
@media (max-width: 768px) {
  .model-table .content .model-table-card .info {
    width: 100%;
    gap: 30px;
    padding-top: 0;
  }
}
.model-table .content .model-table-card .info p {
  font-size: 32px;
  font-weight: 600;
}
.model-table .content .model-table-card .info span {
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
